{:deps {net.jmglov/blambda {:local/root "."}}
 :paths ["."]
 :tasks
 {:requires ([blambda.cli :as blambda])

  blambda {:doc "Controls Blambda runtime and layers"
           :task (blambda/dispatch {})}

  }}
