{:paths ["."]
 :deps {net.jmglov/blambda
        {:git/url "https://github.com/jmglov/blambda.git"
         :git/tag "v0.2.0"
         :git/sha "fa394bb"}
        #_"For local development, use this instead:"
        #_{:local/root "../.."}
        }
 :tasks
 {:requires ([blambda.cli :as blambda])

  blambda {:doc "Controls Blambda runtime and layers"
           :task (blambda/dispatch
                  {:lambda-name "hello-blambda"
                   :lambda-handler "hello/handler"
                   :source-files ["hello.clj"]})}}}
